@model IEnumerable<LaBrasa.MVC.ViewModels.UsuarioViewModel>

    @*@{
    ViewData["Title"] = "Usuarios";
    }*@
   
<body>
<table>
    <thead>
        <tr>
            <th>
                Nome
            </th>
           
            <th>
                Endereco
            </th>
            <th>
                Idade
            </th>

            <th>
                Genero
            </th>

            <th>
                Email
            </th>
            <th>
                Telefone
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="conteudo">
                <td data-title="Nome">
                    @Html.DisplayFor(modelItem => item.Nome) @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>
                
                <td data-title="Endereco">
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td data-title="Idade">
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td data-title="Genero">
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td data-title="Email">
                    @Html.DisplayFor(modelItem => item.Email)
                </td >
                <td data-title="Telefone">
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>

                <td>
                    <button>ver tudo</button>
                </td>
            </tr>
        }
    </tbody>
</table>
</body>