@model IEnumerable<LaBrasa.MVC.ViewModels.UsuarioViewModel>

    @*@{
    ViewData["Title"] = "Usuarios";
    }*@
    <style>
        .table{
            color:white;
        }
    </style>

<table class="table mt-5">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Sobrenome
            </th>
            <th>
                Endereco
            </th>
            <th>
                Idade
            </th>

            <th>
                Genero
            </th>

            <th>
                Email
            </th>
            <th>
                Telefone
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
            </tr>
        }
    </tbody>
</table>