@model Labrasa.Application.DTOs.UsuarioDTO


<div class="container-perfil mt-5">
    <img class="rounded-circle" src="~/Images/icons8-usuário-64 (2).png" alt="Avatar">

    <div class="row negrito mb-4" class="row" style="justify-content: center;">
        <h2>Informações Pessoais</h2>
    </div>

    <div style="justify-content: center;">
        <div class="row">
            <span class="negrito col-md-12">
                Nome: @Html.DisplayFor(model => model.Nome) @Html.DisplayFor(model => model.Sobrenome)
            </span>
        </div>

        <div class="row">
            <span class="negrito col-md-12">
                Idade: @Html.DisplayFor(model => model.Idade)
            </span>
        </div>

        <div class="row">
            <span class="negrito col-md-12">
                Genero: @Html.DisplayFor(model => model.Genero)
            </span>
        </div>

        <div class="row">
            <span class="negrito col-md-12">
                Endereço: @Html.DisplayFor(model => model.Endereco)
            </span>
        </div>

    </div>
</div>

