@model Labrasa.Application.DTOs.UsuarioDTO

<body class="perfil-page">
<div class="container-perfil mt-5">
    <img class="rounded-circle" src="~/Images/perfil-de-usuario.png" alt="Avatar">

    <div class="row negrito mb-4" class="row" style="justify-content: center;">
        <h2>Informações Pessoais</h2>
    </div>

    <div style="justify-content: center;">
        <div class="row">
            <span class="negrito col-md-12">
                <negrito>Nome:</negrito> @Html.DisplayFor(model => model.Nome) @Html.DisplayFor(model => model.Sobrenome)
            </span>
        </div>

        <div class="row">
            <span class="negrito col-md-12">
                <negrito>Idade:</negrito> @Html.DisplayFor(model => model.Idade)
            </span>
        </div>

        <div class="row">
            <span class="negrito col-md-12">
                <negrito>Gênero:</negrito> @Html.DisplayFor(model => model.Genero)
            </span>
        </div>

        <div class="row">
            <span class="negrito col-md-12">
                <negrito>Endereço:</negrito> @Html.DisplayFor(model => model.Endereco)
            </span>
        </div>

    </div>
</div>
</body>
