@model Labrasa.Application.DTOs.UsuarioDTO
@*
<html>
<head>
    <meta charset="UTF-8">
    <title>Site do Prof. Miltin</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&amp;display=swap" rel="stylesheet">
    <style type="text/css" title="MeuEstilo" media="all"></style>

</head>*@

<body-perfil>
    <div class="container-perfil">
        <img class="rounded-circle" src="~/Images/icons8-usuário-64 (2).png" alt="Avatar">


        <h2>Informações Pessoais</h2>
        <div class="detalhes-left">
            @*<h2>Informações Pessoais</h2>*@

            <span class="negrito">Nome: @Html.DisplayFor(model => model.Nome) @Html.DisplayFor(model => model.Sobrenome) </span>
            <br />
            <span class="negrito">Idade: @Html.DisplayFor(model => model.Idade)</span>
            <br />
            <span class="negrito">Endereço: @Html.DisplayFor(model => model.Endereco)</span>
            <br />
            <span class="negrito">Genero: @Html.DisplayFor(model => model.Genero)</span>

        </div>
    </div>


    <!--Experimente por um filtro para deixar a imagem preto
    e branca filter: grayscale(1); -->

</body-perfil>
